main {
    section {
        display: flex;
        flex-direction: column;

    }

    .first {
        flex-direction: row;
        flex-wrap: wrap;

        .social {
            display: flex;
            gap: 15px;
        }
    }

    .second {
        > div {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .third {
        > div {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .four {
        form {
            display: flex;
        }
    }
}